{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel="stylesheet" href="{% static 'payment_successfull.css' %}">
</head>
<body>

<div class="container">
    <div class="icon">✔</div>
    <h1>Payment Successful</h1>
    <p>Your order has been placed successfully. Thank you for shopping with us.</p>

    <a href="{% url 'my_orders' %}">View My Orders</a>
</div>

</body>
</html>